import requests
from aiogram import types
from hikka_bot import dp

# Обрабатываем команду .pogoda
@dp.message_handler(commands=['pogoda'])
async def pogoda_handler(message: types.Message):
    # Получаем аргументы команды (город)
    city = message.get_args()
    
    if city == '':
        await message.reply('Укажите название города.')
        return

    # Формируем URL для запроса погоды
    url = f'http://api.openweathermap.org/data/2.5/weather?q={city}&units=metric&appid=YOUR_API_KEY'
    
    try:
        # Отправляем запрос на получение данных о погоде
        response = requests.get(url)
        data = response.json()

        # Если получены данные о погоде
        if 'main' in data:
            temperature = data['main']['temp']
            description = data['weather'][0]['description']
            city_name = data['name']
            
            # Формируем ответное сообщение
            weather_message = f'Погода в городе {city_name}:\nТемпература: {temperature}°C\nОписание: {description}'
            await message.reply(weather_message)
        # Если произошла ошибка при получении данных о погоде
        elif 'message' in data:
            error_message = data['message']
            await message.reply(f'Ошибка при получении погоды: {error_message}')
        else:
            await message.reply('Не удалось получить информацию о погоде. Попробуйте позже.')
    except Exception as e:
        await message.reply(f'Произошла ошибка при запросе погоды: {e}')
